# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Eduardo Sanchez
email = eduardosanzb@gmail.com
[alias]
  s = status
  a = add
  ca = commit -a
  cam = commit -am
  pom = push origin master
  cob = checkout -b
  l = checkout -l
  b = checkout
[merge]
  ff = false
[pull]
  ff = only
[push]
  autoSetupRemote = true
